.container{
    max-width: 1250px;
    margin: 30px auto;
    padding-left: 16px;
    padding-right: 16px;
}


.main-slider{
    margin-top: 100px;
}

.slider {
    max-width: 100%;
    overflow: hidden;
}

.slider-line{
    display: flex;
    transition: all 1s ease;
}